<h1 style="display: flex; align-items: center; gap: 10px; font-size: 24px; color: #ffffff; font-weight: bold;">
  <i class="fa-solid fa-magnifying-glass" style="color: #007BFF;"></i>
  Search Results
</h1>


<ul data-search-target="results" class="list-group mt-3">
  <% if @results.any? %>

      <% @results.each do |result| %>
        <li class="list-group-item">
          <% if result.searchable_type == "Coin" %>
            Coin: <%= link_to result.searchable.name, coin_path(result.searchable), class: "fw-bold text-decoration-none" %>
          <% elsif result.searchable_type == "Wallet" %>
            Wallet: <%= link_to result.searchable.name, wallet_path(result.searchable), class: "fw-bold text-decoration-none" %>
          <% end %>
        </li>
      <% end %>
  <% else %>
    <p class="mt-3 text-muted">No results found.</p>
  <% end %>
</ul>
