// Graphical variables MUST BE IMPORTED Before Bootstrap
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/darkmode_overide_variables";
@import "config/bootstrap_forms";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


:root {
  --highlight-blue: #6eacfe; // rgb(110, 172, 254)
  --highlight-blue-shadow: rgba(110, 172, 254, 0.4);
  --highlight-purple: #af53ff; // rgb(175, 83, 255)
  --highlight-purple-shadow: rgba(175, 83, 255, 0.4);
  --chart-color-1: rgb(142, 242, 126);
  --chart-color-2: rgb(43, 63, 242); // rgb(175, 83, 255)
  --chart-color-3: rgb(255, 110, 110); // rgb(255, 110, 110)
  --gradient-primary: var(--highlight-purple);
  --gradient-secondary: var(--highlight-blue);
  --color-main-background: #181A25;
  --color-window-border-main: #565656;
  --color-window-border-secondary: #565656;
  // --form-label-color: #616480;
}
